<HTML>
<HEAD>
<TITLE>Sentiment Analyzer</TITLE>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</HEAD>
<BODY>
<CENTER>
<H1>Welcome to <FONT color="#FFA500"> Sentiment Analysis Toolkit</FONT></H1>
<div id="but">
<A HREF="bagofwords">Sentiment Analysis</A><BR><BR>
<A HREF="stemlemma">Effect of Stemming/Lemmatization</A><BR><BR>
<A HREF="regex">Regex Checker</A><BR><BR>
<A HREF="wordcloud">Generate Wordcloud</A><BR><BR>
<FOOTER>&copy; Ishan Bhattacharya</FOOTER>
</div>
</CENTER>
</BODY>
</HTML>